body {
    background-color: #91919bf3;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

b {
    color: rgb(1, 17, 110);
}
