body {
    background-color: rgb(58, 58, 58);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

b {
    color: rgb(255, 255, 255);
}

main {
    background-color: rgb(0, 0, 0);
}

#carro {
    width: 100%;
}

b2 {
    color: rgb(133, 0, 0);
}

b3 {
    color: rgb(189, 189, 189);
}
